/databases/electrumx/*
!/databases/electrumx/.gitkeep
/databases/evrmore/*
!/databases/evrmore/.gitkeep
!/databases/evrmore/evrmore.conf
/workspace/*
!/databases/.gitkeep
/workspace/evrmore/*
/workspace/electrumx-evrmore/*
/socket/node_modules
